.icon-accept {
	background-image: url(../resources/images/icons/accept.png) !important;
}

.icon-add {
	background-image: url(../resources/images/icons/add.png) !important;
}

.icon-app {
	background-image: url(../resources/images/icons/app.png) !important;
}

.icon-back {
	background-image: url(../resources/images/icons/back.png) !important;
}

.icon-delete {
	background-image: url(../resources/images/icons/delete.png) !important;
}

.icon-edit {
	background-image: url(../resources/images/icons/edit.png) !important;
}

.icon-refresh {
	background-image: url(../resources/images/icons/refresh.png) !important;
}

.icon-search {
	background-image: url(../resources/images/icons/search.png) !important;
}

.icon-view {
	background-image: url(../resources/images/icons/view.png) !important;
}

.icon-save {
	background-image: url(../resources/images/icons/save.png) !important;
}

.icon-clear {
	background-image: url(../resources/images/icons/clear.png) !important;
}