<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="jdbc" class="com.harmony.umbrella.log4j.jdbc.JdbcAppender">
    <param name="tableName" value="BANG_LOGMESSAGE" />
    <param name="url" value="jdbc:oracle:thin:@//127.0.0.1:1521/orcl" />
    <param name="user" value="wuxii" />
    <param name="password" value="tiger" />
    <param name="include" value="all" />
    <columns>
      <column source="#uuid" target="logId" parser="com.harmony.umbrella.log4j.parser.IdParser" />
      <column source="exception" target="exceptionMessage" />
      <column source="type" target="logType" />
      <column source="level" target="levelName" />
      <column source="stack" target="stackLocation" />
    </columns>
  </appender>

  <root>
    <level value="debug" />
    <appender-ref ref="jdbc" />
  </root>

</log4j:configuration>