<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false" reset="false"
  threshold="info">

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%p] %c{1}.%M(%F:%L) - %m%n" />
    </layout>
  </appender>

  <appender name="jdbc" class="com.harmony.umbrella.log.jdbc.JdbcAppender">
    <param name="tableName" value="S_LOGINFO"></param>

    <param name="unlistedFieldAutoMatch" value="true"></param>
    <column sourceField="module" targetField="module" />
    <!-- module, action, message, level, result, startTime, finishTime, operator, operatorId, bizId, bizModule, stack, threadName -->
    <param name="columnNames" value="all"></param>

    <param name="upperCase" value="true"></param>
    <param name="dateToString" value="true"></param>
    <param name="dateFormat" value="yyyy-MM-dd HH:mm:ss"></param>
    <param name="url" value="jdbc:h2:file:~/.h2/harmony/log"></param>
    <param name="user" value="sa"></param>
    <param name="password" value=""></param>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%p] %c{1}.%M(%F:%L) - %m%n" />
    </layout>
  </appender>

  <root>
    <level value="debug"></level>
    <appender-ref ref="jdbc" />
  </root>

</log4j:configuration>