<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

  <context:component-scan base-package="com.harmony" />

  <bean name="simpleDao" class="com.harmony.umbrella.data.dao.SimpleDao">
    <constructor-arg name="entityManager">
      <bean class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
      </bean>
    </constructor-arg>
  </bean>

  <bean name="metadataServiceBean" class="com.harmony.dark.ws.meta.MetadataServiceBean">
    <property name="dao" ref="simpleDao"/>
  </bean>

  <tx:annotation-driven transaction-manager="transactionManager" />

  <bean name="jdbc/moon" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="org.h2.Driver" />
    <property name="url" value="jdbc:h2:file:~/.h2/harmony/data" />
    <property name="username" value="sa" />
    <property name="password" value="" />
  </bean>

  <bean name="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="jdbc/moon" />
    <property name="persistenceUnitName" value="harmony-dark" />
    <property name="persistenceXmlLocation" value="META-INF/persistence.xml" />
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>

  <tx:advice id="daoAdvice">
    <tx:attributes>
      <tx:method name="save*" propagation="REQUIRED" rollback-for="Exception" />
      <tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception" />
      <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
      <tx:method name="execute*" propagation="REQUIRED" rollback-for="Exception" />
    </tx:attributes>
  </tx:advice>

  <aop:config>
    <aop:pointcut id="daoPointcut" expression="execution(* com.harmony.umbrella..*.*.*(..))" />
    <aop:advisor advice-ref="daoAdvice" pointcut-ref="daoPointcut" />
  </aop:config>

</beans>
