<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://logging.apache.org/log4j/Log4j-config.xsd">
  <Properties>
    <Property name="pattern">[%p{length=4}] [%d{MM/dd HH:mm:ss,SSS}] %c{1}.%M(%F:%L) - %m%n</Property>
  </Properties>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <XMLLayout />
      <!-- <JsonLayout /> -->
      <!-- <HtmlLayout /> -->
      <!-- <PatternLayout pattern="${pattern}" /> -->
    </Console>
    <Console name="STDERR" target="SYSTEM_ERR">
      <PatternLayout pattern="${pattern}" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="STDOUT" />
    </Root>
  </Loggers>
</Configuration>